.movie-card {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  text-decoration: none;
  color: white;
  // text-transform: uppercase;
  // font-size: 11px;
}

// .movie-card-poster {
//   border-radius: 10px;
// }

.movie-card-title {
  text-align: center;
  padding: 5px 0;
}