input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sl-top-bar-container {
  position: fixed;
  width: 100vw;
  height: 14vh;
  top: 0;
  background-color: black;
  z-index: 10;
}

.loading-header {
  text-align: center;
}

.body-loader {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
}